@charset "UTF-8";

body {
  background-color: #fff;
}
#logo{
  width: 100px;
  max-width: 100px !important;
  
}
#mainNav {
  /*menu*/
  padding-top: 1rem;
  padding-bottom: 1rem;
}
#mainNav .navbar-nav .nav-item .nav-link {
  /*letra menu*/
  font-family: "Cambria", "Cochin", "Georgia", "Times", "Times New Roman",
    "serif";
  font-size: 1.2rem;
  color: black;
  letter-spacing: 0.0625em;
}
#mainNav .navbar-nav .nav-item .nav-link.active,
#mainNav .navbar-nav .nav-item .nav-link:hover {
  color: red;
}
/*header.masthead {
  position: relative;
  background: linear-gradient(
    101.38deg,
    #75ecec 0%,
    rgba(182, 243, 249, 0.43) 100%
  );
  background-size: cover;
  padding-top: 3rem;
  padding-bottom: 3rem;
}*/
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 230px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  border: 2px solid white;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}
.parceiros{
  background-color: #f9f9f9;
}

.rodap {
  background: #f8f9f9;
  color: black;
  text-align: justify;
  font-family: Roboto;
  font-size: 17px;
  color: #323232;
}
.titulo_principal {
  text-align: center;
  font-family: "Graphik", "Georgia", "Times New Roman", Times, serif;
  font-style: normal;
  font-size: 48px;
  color:white;
  text-align: justify;
  margin-left: 14%;
}
.sub_titulo {
  font-family: Roboto;
  font-size: 24px;
  line-height: 28px;
  color:white;
  text-align: justify;
  margin-left: 14%;
}
.titulo2{
  font-family: Roboto;
  font-size: 24px;
  color:#5271ff;
  text-decoration: underline #5271ff; /*_____*/
}
.titulo3{
  font-family: Roboto;
  font-size: 24px;
  color:#5271ff;
  text-align: center;
  text-decoration: underline #5271ff; /*_____*/
}
.b_doar{
  text-align: justify;
  margin-left: 14%;
}
.sub_titulo_cotato {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 28px;
  color: #323232;
}
.cesta {
  text-align: center;
  font-family: "Graphik", "Georgia", "Times New Roman", Times, serif;
  font-style: normal;
  font-size: 48px;
  color: #188e32;
}
.linha {
  color: #000000;
}
.card {
  padding: 10px;
  background-color: transparent;
  border: transparent;
  
}

.informacoe {
  list-style: none;
}
.informacoe h4,
h3 {
  color: #544848;
}
.informacoe h3,
h4,
h5 {
  font-family: Georgia;
}
.selecao{
  width: 20px;
  height: 20px;
}
.capa{
  background-image: url(../IMG/capa.jpg);
}
@media (max-width: 576px) {
  .capa{
    background-image: url(../IMG/capa2.jpg
    );
  }
.titulo_principal{
  text-align:justify;
  font-size: 20px;
  margin-left: 10%;
}
.sub_titulo{
  text-align:justify;
  font-size: 15px;
  margin-left: 10%;
}
.b_doar{
  text-align:justify;
  font-size: 10px;
  margin-left: 10%;
}


}